@model alwatnia.Models.Album
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        @section addBtn {

            <h1>المركز الاعلامي والمعارض</h1>

            <div class="breadcrumb">
                <a href="@Url.Action("Uploading", "Album", new { id = Model.Id })" class="btn dark"><i class="fa fa-eye"></i> اضافة صور  </a>
                <a href="@Url.Action("Index", "Album")" class="btn default"><i class="fa fa-eye"></i> ادارة المركز الاعلامي </a>                
            </div>

        }
    </div>
</div>
<form action="@Url.Action("Edit", "Album")" method="post" class="horizontal-form" id="Slider_form" enctype="multipart/form-data">
    <div class="row">
        @Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })
        <div class="col-md-3">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-arrow-left font-dark"></i>
                        <span class="caption-subject font-dark bold uppercase">خصائص الاضافة</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-group">
                        <label>النوع</label>
                        <select name="type" class="form-control">
                            <option value="">-- اختار النوع --</option>
                            @*<option value="1" @( Model !=null? Model.type == 1 ? "selected":"" : "")>المركز الاعلامي</option>*@
                            <option value="3" @( Model !=null? Model.type == 3 ? "selected":"" : "")>المعارض</option>
                        </select>
                    </div>
                    <hr />
                    <button type="submit" class="btn blue"><i class="fa fa-save"></i> نشر</button>
                </div>

            </div>
        </div>
        <div class="col-md-9">

            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-arrow-left font-dark"></i>
                        <span class="caption-subject font-dark bold uppercase">التفاصيل</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>العنوان</label>
                                <input type="text" class="form-control" name="ArabicTitle" placeholder="العنوان" value="@Model.ArabicTitle">
                                <input type="hidden" value="@Model.cdate" name="cdate"/>
                            </div>
                            <div class="form-group ">
                                <label>التفاصيل </label>
                                <textarea class="form-control" name="ArabicDetails" rows="10" id="details">@Model.ArabicDetails</textarea>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>title</label>
                                <input type="text" class="form-control" name="EnglishTitle" placeholder="العنوان" value="@Model.EnglishTitle">
                            </div>
                            <div class="form-group ">
                                <label>details </label>
                                <textarea class="form-control" name="EnglishDetails" rows="10" id="details">@Model.EnglishDetails</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
