@model IEnumerable<alwatnia.Models.Reports>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
    int i = 1;
}
<div class="row">
    <div class="col-md-12">
        @section addBtn {

            <h1>عرض التقارير</h1>

            <div class="breadcrumb">
                <a href="@Url.Action("Create", "Reports")" class="btn green"><i class="fa fa-plus"></i> اضافة تقرير جديد </a>
            </div>

        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">@Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })</div>
        <div class="col-md-3">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-magnifier font-dark"></i>
                        <span class="caption-subject font-dark bold uppercase">ابحث عن تقرير</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-group">
                        <label>العنوان</label>
                        <div class="input-group">
                            <span class="input-group-addon">

                                <i class="fa fa-book"></i>
                            </span>
                            <input type="text" class="form-control" name="title" id="name" placeholder="العنوان" value="@Request.QueryString["title"]">
                        </div>
                    </div>
                    <hr />
                    <div class="form-group ">
                        <label> الشركة</label>
                        <select class="form-control" id="company" name="company">
                            <option value="">-- اختار الشركة --</option>
                            @foreach (var item in (List<alwatnia.Models.Company>)ViewBag.company)
                            {
                                <option value="@item.Id">@item.Title</option>

                            }
                        </select>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>اللغة</label>
                        <div class="input-group">
                            <span class="input-group-addon">

                                <i class="fa fa-user"></i>
                            </span>
                            <select class="form-control" id="lang">
                                <option value="">-- اختار اللغة --</option>
                                <option value="1" @(Request.QueryString["langId"] == "1" ? "selected" : "")>اللغة العربية</option>
                                <option value="2" @(Request.QueryString["langId"] == "2" ? "selected" : "")> English</option>
                            </select>
                        </div>
                    </div>

                    <button type="submit" onclick="search('Reports')" class="btn blue"><i class="fa fa-search"></i> بحث</button>
                    <a href="@Url.Action("Index")" class="btn default"><i class="fa fa-reply"></i> الغاء</a>

                </div>

            </div>
        </div>
    </form>
    <div class="col-md-9">
        <!-- BEGIN BORDERED TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-arrow-left font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">عرض التقارير </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-bordered table-hover">
                        <thead>

                            <tr>
                                <th class="col-counter"> # </th>
                                <th> العنوان </th>
                                <th>تاريخ التقرير</th>
                                <th>الشركة التابعة</th>
                                <th>تاريخ اصدار التقرير</th>
                                <th>تاريخ التقرير هجري</th>
                                <th class="col-operation"> العمليات </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                            <tr>
                                <td class="col-counter"> @(i++) </td>
                                <td> @Html.Raw(item.Title) </td>
                                <td class="col-operation"> @(string.Format("{0:ddd, MMMM d, yyyy}", item.cdate))</td>
                                <td> @(item.company_id.HasValue ? item.Company.Title : "")</td>
                                <td class="col-operation"> @(string.Format("{0:ddd, MMMM d, yyyy}", item.createdate))</td>
                                <td> @(item.hijridate)</td>
                                <td class="col-operation">
                                    <div class="btn-group btn-group-solid">
                                        <a href="@Url.Action("Edit", "Reports", new {id=item.Id })" class="btn blue"><i class="fa fa-edit"></i> تحرير</a>
                                        <a onclick="return confirm('هل تريد حذف هذا التقرير ؟؟');" href="@Url.Action("Delete", "Reports", new { id = item.Id })" class="btn red"><i class="fa fa-remove"></i> حذف</a>
                                    </div>
                                </td>

                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END BORDERED TABLE PORTLET-->
    </div>
</div>
<script src="~/Scripts/search.js"></script>