@using alwatnia.Helper
@using alwatnia.Models
@using alwatnia.Views.Shared
@model alwatnia.Helper.Functions.PaginatedResult< alwatnia.Models.Activity >
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    bool x = false;
    bool y = false;
    int count = 0;

    ViewData.AddActiveMenu(Nav.Mc);
    ViewData.AddActivePage(Nav.McActivities);

}


<section class="">
    <div class="container">
        <div class="new-bar">
            <img class="img-responsive" src="~/assets/home/images/parcode.png" alt="" />
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")">@Resource.Main</a></li>
            <li class="breadcrumb-item active">@Resource.Activities</li>
        </ol>
        <h2  style="color: #1e3687" class="title-page">@Resource.Activities</h2>
    </div>
</section><!--section-topBanar-->
<div class="section-contentInner">
    <div class="container">
        <div class="conference-list">
	        <div class="row">
		        @foreach (var item in Model.Results)
		        {

				        <div class="col-md-3 col-xs-6">
					        <div class="confer-item">
						        <div class="confer-thumb">
							        <a href="@Url.Action("Activities", new {id=item.Id })" class="img-hover">
								        <img src="@Url.Content("/Recources/Activities/"+item.Photo+"?w=500")" class="img-responsive"/>
							        </a>
						        </div>
						        <div class="confer-desc">
							        <h2><a href="@Url.Action("Activities", new { id = item.Id })">@item.Title</a></h2>                                 
						        </div>
					        </div><!--confer-item-->
				        </div>
		        }
				
				
	            
	        </div>

	        @Html.Partial("_Paginator", model: new Functions.PaginatedResult<IHasPaginator>()
	        {
		        Results = Model.Results,
		        Entity = "Activities",
		        PageCounts = Model.PageCounts,
		        TotalCount = Model.TotalCount,
		        CurrentPage = Model.CurrentPage
	        })
        </div>
    </div>
</div>
