@using alwatnia.Helper;
@model alwatnia.Models.Page
	@using alwatnia.Views.Shared
	@{
  ViewBag.Title = "Vision";
  Layout = "~/Views/Shared/_Layout.cshtml";
      ViewData.AddActiveMenu(Nav.About);
    ViewData.AddActivePage(Nav.MainCert);


}

<section class="">
  <div class="container">
    <div class="new-bar">
      <img class="img-responsive" src="/assets/home/images/parcode.png" alt="" />
    </div>
    <ol style="display: none" class="breadcrumb">
      <li class="breadcrumb-item"><a href="@Url.Action("Index")">@Resource.Main</a></li>
      <li class="breadcrumb-item active">@Resource.CertificationsAndAccreditations</li>
    </ol>
    <h2 style="color: #1e3687" class="title-page">@Resource.CertificationsAndAccreditations</h2>
  </div>
</section><!--section-topBanar-->
<div class="section-contentInner">
  <div class="section-aboutCompany">
    <div class="container">
      <div class="row reorder-xs">
        <div class="col-sm-12">
          <div class="about-block wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
            @Html.Raw(Model.details)
          </div>
        </div>
      </div>
    </div>
  </div><!--section-aboutCompany-->
</div>