@model IEnumerable<alwatnia.Models.Album>
@using alwatnia.Helper;
@using alwatnia.Views.Shared
@{
    ViewBag.Title = "Media";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 1;

    var isEnglish = Functions.IsEnglish() ;
    ViewData.AddActiveMenu(Nav.Mc);
    ViewData.AddActivePage(Nav.McExhibtion);
}
<style>
    .section-topBanar{
        background-image: url(../../Recources/Albums/6773de5b-b190-4bd0-8c2d-c1100dfd4d12.jpeg);
    }
        </style>


<section class="section-topBanar">
    <div class="container">
   
        <h2 class="title-page">@Resource.ExhibitionsConferences</h2>
    </div>
</section><!--section-topBanar-->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="@Url.Action("Index")">@Resource.Main</a></li>
  <li class="breadcrumb-item active">@Resource.ExhibitionsConferences</li>
</ol>
<div class="section-contentInner">
    <div class="container">
        <div class="conference-list">
            <div class="row">
                @foreach (var item in Model)
                {

                    <div class="col-md-4 col-sm-6">
                        <div class="confer-item">
                            <div class="confer-thumb">
                                <a href="@Url.Action("Show", new { id = item.Id })" class="img-hover">
                                    <img src="~/Recources/Albums/@(item.Image.FirstOrDefault()!=null?item.Image.FirstOrDefault().photo+"?w=500" :"default.jpg")" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="confer-desc">
                                <h2><a href="@Url.Action("Show", new { id = item.Id })"> @(isEnglish?item.EnglishTitle:item.ArabicTitle) </a></h2>
                            </div>
                        </div><!--confer-item-->
                    </div>
									}

            </div>
        </div>
    </div>
</div>


