@using alwatnia.Helper
@using alwatnia.Models
@using alwatnia.Views.Shared
@model Functions.PaginatedResult<News>
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var x = false;
    var y = false;
    var count = 0;
  ViewData.AddActiveMenu(Nav.Mc);
  ViewData.AddActivePage(Nav.McNews);
}
<style>
    .item-news.col-xs-6.col-md-12.full-w .confer-thumb {
        float: right;
        margin-left: 5px;
    }

    .item-news.col-xs-6.col-md-12.full-w .confer-thumb1 img.img-responsive {
        height: 50px;
        width: 260px;
    }

    .item-news.col-xs-6.col-md-12.full-w .confer-item .confer-desc {
        overflow: hidden;
        padding: 10px;
    }

    .item-news.col-xs-6.col-md-12.full-w .confer-item .confer-desc h2 { text-align: right; }

    .item-news.col-xs-6.col-md-12.full-w .confer-item { min-height: 192px !important; }

    .conference-list ul.list-inline {
        font-size: 14px;
        margin: 0 0 20px;
    }

    .full-w { transition: 1s }

    .full-w h5 { margin-top: 30px; }

    .confer-desc h2 { transition: 1s }

    .full-w .confer-item .confer-thumb a { height: 190px; }
</style>
<section class="">
    <div class="container">
        <div class="new-bar">
            <img class="img-responsive" src="/assets/home/images/parcode.png" alt=""/>
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index")">@Resource.Main</a>
            </li>
            <li class="breadcrumb-item active">@(Context.Request.QueryString["type"] == "Social" ? Resource.SocialResponsibility : Resource.News)</li>
        </ol>
        <h2 style="color: #1e3687" class="title-page">@(Context.Request.QueryString["type"] == "Social" ? Resource.SocialResponsibility : Resource.News)</h2>
    </div>
</section><!--section-topBanar-->
<div class="section-contentInner">
    <div class="container">
        <div class="conference-list">
            <ul class="list-inline hidden-xs">
                <li>@Resource.DisplayWay</li>
                <li>
                    <a href="" id="full-w">
                        <i class="fa fa-th-list"></i>
                    </a>
                </li>
                <li>
                    <a href="" id="col-3-w">
                        <i class="fa fa-th"></i>
                    </a>
                </li>
            </ul>
            <form action="@Url.Action("News", "Home")" method="post" class="horizontal-form" enctype="multipart/form-data">
                <ul class="list-inline hidden-xs">
                    <li>
                        <input type="text" class="form-control" name="keyword" placeholder="ابحث هنا ..">
                    </li>
                    <li>
                        <button type="submit" class="btn btn-success btn-xs">
                            <i class="fa fa-search"></i>
                        </button>
                    </li>
                </ul>
            </form>
            <div class="row">
                @foreach (var item in Model.Results)
                {
                    <div class="item-news col-md-3 col-xs-6">
                        <div class="confer-item">
                            <div class="confer-thumb1">
                                <a href="@Url.Action("News", new {id = item.Id})" class="img-hover">
                                    <img src="@Url.Content("/Recources/News/" + item.Photo + "?w=350")" class="img-responsive"/>
                                </a>
                            </div>
                            <div class="confer-desc">
                                <h2>
                                    <a href="@Url.Action("News", new {id = item.Id})">@item.Title</a>
                                </h2>
                                <h5 style="line-height: 20px; text-align: justify;">
                                    @item.Summary.Truncate(100)
                                </h5>
                            </div>
                        </div><!--confer-item-->
                    </div>
                }
            </div>

            @Html.Partial("_Paginator", new Functions.PaginatedResult<IHasPaginator>
            {
                Results = Model.Results,
                Entity = "News",
                PageCounts = Model.PageCounts,
                TotalCount = Model.TotalCount,
                CurrentPage = Model.CurrentPage
            })
        </div>
    </div>
</div>