
@{
    ViewBag.Title = "AddJob";
    Layout = "~/Areas/Helper/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        @section addBtn {

            <h1>اضافة وظيفة جديدة</h1>

            <div class="breadcrumb">
                <a href="@Url.Action("Index", "Careers")" class="btn default"><i class="fa fa-eye"></i> عرض الوظائف </a>
            </div>

        }
    </div>
</div>
<form action="@Url.Action("AddJob", "Careers")" method="post" class="horizontal-form" id="Slider_form" enctype="multipart/form-data">
    <div class="row">
        @Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })
        <div class="col-md-3">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-arrow-left font-dark"></i>
                        <span class="caption-subject font-dark bold uppercase">خصائص الوظيفة</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <div class="mt-checkbox-inline">
                            <label class="mt-checkbox">
                                <input type="checkbox" id="IsOpen" value="true" name="IsOpen" @(Model != null && Model.IsOpen.HasValue && Model.IsOpen.Value ? "checked" : "")>   فتح التقديم عبر موقع الشركة
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group ">
                        <label> تاريخ انتهاء التقديم</label>
                        <input class="form-control" name="StartDate" id="StartDate" value="@( Model != null ? Model.EndDate : null)" />
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>اللغة</label>
                        <div class="input-group">
                            <span class="input-group-addon">

                                <i class="fa fa-language"></i>
                            </span>
                            <select class="form-control" name="lang" placeholder="اللغة">
                                <option value="">اختار اللغة </option>
                                <option value="1">اللغة العربية </option>
                                <option value="2">English  </option>
                            </select>
                        </div>
                    </div>
                    <hr />
                 


                    <button type="submit" class="btn blue"><i class="fa fa-save"></i> نشر الوظيفة</button>
                </div>

            </div>
        </div>
        <div class="col-md-9">

            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-arrow-left font-dark"></i>
                        <span class="caption-subject font-dark bold uppercase">تفاصيل الوظيفة</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>عنوان الوظيفة</label>
                                <input type="text" class="form-control" name="title" placeholder="العنوان" value="@( Model !=null? Model.Title:"")">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group ">
                                <label>تفاصيل الوظيفة</label>
                                <textarea class="form-control" name="details" rows="20" id="details">@( Model != null ? Model.Details : "")</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <script>
        $("#StartDate").datepicker();
    </script>
}
