@model IEnumerable<alwatnia.Models.Comment>
@{
  ViewBag.Title = "Index";
  Layout = "~/Areas/Helper/Views/Shared/_Layout.cshtml";
  int i = 1;
}
<div class="row">
  <div class="col-md-12">
    @section addBtn {

      <h1>المتقدمين للوظائف</h1>

      <div class="breadcrumb">
        <a href="@Url.Action("Index", "Careers")" class="btn default"><i class="fa fa-eye"></i> عرض الوظائف </a>
      </div>

    }
  </div>
</div>
<div class="row">
  <div class="col-md-12">@Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })</div>
  <form action="@Url.Action("Comments", "Careers")" method="get" class="horizontal-form" id="Slider_form" style="display:none !important;">
    <div class="col-md-3">
      <div class="portlet light portlet-fit bordered">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-magnifier font-dark"></i>
            <span class="caption-subject font-dark bold uppercase">ابحث عن متقدم</span>
          </div>
        </div>
        <div class="portlet-body">
          <div class="form-group">
            <label>المرسل</label>
            <div class="input-group">
              <span class="input-group-addon">

                <i class="fa fa-book"></i>
              </span>
              <input type="text" class="form-control" name="comment_auther" placeholder="محمد ...." value="@Request.QueryString["comment_auther"]">
            </div>
          </div>
          <hr />
          <div class="form-group ">
            <label>الوظيفة</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-bookmark" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="job" placeholder="الوظيفة" value="@Request.QueryString["job"]">
            </div>
          </div>
          <hr />
          <div class="form-group ">
            <label>السجل المدني</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-bookmark" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="NID" placeholder="السجل المدني" value="@Request.QueryString["NID"]">
            </div>
          </div>
          <hr />
          <div class="form-group ">
            <label>البريد الالكتروني</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-bookmark" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="email" placeholder="البريد الالكتروني" value="@Request.QueryString["email"]">
            </div>
          </div>
          <hr />
          <div class="form-group ">
            <label>الجوال</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-bookmark" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="mobile" placeholder="الجوال" value="@Request.QueryString["mobile"]">
            </div>
          </div>
          <hr />
          <div class="form-group ">
            <label>الدرجة العلمية</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-bookmark" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="degree" placeholder="الدرجة العلمية" value="@Request.QueryString["degree"]">
            </div>
          </div>
          <hr />
          <div class="form-group ">
            <label>التخصص</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-bookmark" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="espicial" placeholder="التخصص" value="@Request.QueryString["espicial"]">
            </div>
          </div>
          <hr />
          <div class="form-group ">
            <label>الجامعة</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-bookmark" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="universety" placeholder="الجامعة" value="@Request.QueryString["universety"]">
            </div>
          </div>
          <hr />
          <div class="form-group ">
            <label>سنوات الخبرة</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-bookmark" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="workYears" placeholder="سنوات الخبرة" value="@Request.QueryString["workYears"]">
            </div>
          </div>
          <hr />
          <div class="form-group ">
            <label>سنة التخرج</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-bookmark" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" name="gradYear" placeholder="سنة التخرج" value="@Request.QueryString["gradYear"]">
            </div>
          </div>
          <button type="submit" class="btn blue"><i class="fa fa-search"></i> بحث</button>
          <a href="@Url.Action("Index")" class="btn default"><i class="fa fa-reply"></i> الغاء</a>

        </div>

      </div>
    </div>
  </form>
  <div class="col-md-12">
    <!-- BEGIN BORDERED TABLE PORTLET-->
    <div class="portlet light portlet-fit bordered">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-arrow-left font-dark"></i>
          <span class="caption-subject font-dark bold uppercase">عرض الوظائف</span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="table-scrollable">
          <table class="table table-bordered table-hover">
            <thead>

              <tr>
                <th class="col-operation"> المرسل </th>
                <th class="col-operation"> البريد الالكتروني </th>
                <th class="col-operation"> الجوال </th>
                <th class="col-operation"> الوظيفة </th>
                <th class="col-operation"> التعليق </th>
                <th class="col-operation">في تاريخ</th>
                <th class="col-operation">CV</th>
                <th class="col-operation">العمليات</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var item in Model)
              {

                <tr>
                  <td class="col-operation"> @item.comment_auther </td>
                  <td class="col-operation"> @item.Email</td>
                  <td class="col-operation"> @item.mobile</td>
                  <td class="col-operation"> @item.Job.Title</td>
                  <td class="col-operation"> @item.comment_text</td>
                  <td class="col-operation"> @(string.Format("{0:ddd, MMMM d, yyyy}", item.cdate))</td>
                  <td class="col-operation">
                    <a download href="@Url.Action("DownloadCv", "Careers", new { area = "Helper", name = item.comment_media })">
                      CV
                    </a>
                  </td>
                  <td class="col-operation">
                    <div class="btn-group btn-group-solid">
                      <a onclick="return confirm('هل تريد حذف هذا التعليق ؟؟');" href="@Url.Action("RemoveComment", "Careers", new { id = item.Id })" class="btn red"><i class="fa fa-remove"></i> حذف</a>
                    </div>
                  </td>
                </tr>
              }

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- END BORDERED TABLE PORTLET-->
  </div>
</div>