@model IEnumerable<alwatnia.Models.Company>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Cpanel/Views/Shared/_Layout.cshtml";
    int i = 1;
}
<div class="row">
    <div class="col-md-12">
        @section addBtn {

            <h1>عرض الشركات</h1>

            <div class="breadcrumb">
                <a href="@Url.Action("Create", "Company")" class="btn green"><i class="fa fa-plus"></i> اضافة شركة جديد </a>
            </div>

        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">@Html.Action(actionName: "TempMessage", controllerName: "Message", routeValues: new { area = "" })</div>
        <div class="col-md-3">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-magnifier font-dark"></i>
                        <span class="caption-subject font-dark bold uppercase">ابحث عن شركة</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-group">
                        <label>العنوان</label>
                        <div class="input-group">
                            <span class="input-group-addon">

                                <i class="fa fa-book"></i>
                            </span>
                            <input type="text" class="form-control" name="title" id="name" placeholder="العنوان" value="@Request.QueryString["title"]">
                        </div>
                    </div>
                    <hr />

                    <button type="submit" onclick="search('Company')" class="btn blue"><i class="fa fa-search"></i> بحث</button>
                    <a href="@Url.Action("Index")" class="btn default"><i class="fa fa-reply"></i> الغاء</a>

                </div>

            </div>
        </div>
    <div class="col-md-9">
        <!-- BEGIN BORDERED TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-arrow-left font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">عرض الشركات</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-bordered table-hover">
                        <thead>

                        <tr>
                            <th class="col-counter"> # </th>
                            <th> العنوان </th>                                
                            <th class="col-operation"> العمليات </th>

                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td class="col-counter"> @(i++) </td>
                                <td> @Html.Raw(item.Title) </td>                                
                                <td class="col-operation">
                                    <div class="btn-group btn-group-solid">
                                        <a href="@Url.Action("Edit", "Company", new {id=item.Id })" class="btn blue"><i class="fa fa-edit"></i> تحرير</a>
                                        <a href="@Url.Action("Index", "Branches", new {companyId=item.Id })" class="btn blue"><i class="fa fa-edit"></i> ادارة الفروع</a>
                                        <a onclick="return confirm('هل تريد حذف هذا الشركة ؟؟');" href="@Url.Action("Delete", "Company", new { id = item.Id })" class="btn red"><i class="fa fa-remove"></i> حذف</a>
                                        <a href="@Url.Action("Uploading", "Company", new {id=item.Id })" class="btn dark"><i class="fa fa-eye"></i> صور الشركة </a>
                                    </div>
                                </td>

                            </tr>
                        }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END BORDERED TABLE PORTLET-->
    </div>
</div>
<script src="~/Scripts/search.js"></script>